<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="EditorSettings" type="ConfigurationMigrationQuickStart.EditorFontData,ConfigurationMigrationQuickStart, Version=1.1.0.0, Culture=neutral,PublicKeyToken=null"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
 <EditorSettings name="Verdana" size="24" style="2"/>
  
  <appSettings>
    <add key="NNFConIp" value="192.168.168.36"/>
    <add key="NNFConPUBPort" value="8013"/>
    <add key="NNFConSUBPort" value="8012"/>
    <add key="DataConIp" value="192.168.168.36"/>
    <add key="DataConSUBPort" value="7070"/>
    <add key="LanIp" value="192.168.168.97"/>
    <!--<add key="McastIp" value="127.0.0.1"/>-->
    <add key="LZOIP" value="192.168.168.97"/>
    <add key="LZOPORT" value="7171"/>
    <add key="INDEXIP" value="233.1.2.5"/>
    <add key="INDEXPORT" value="34074"/>
    <add key="Interval" value="50000000"/>
     <!--<add key="ClientId" value="201010001950100"/>-->
    <!--fofo 227-->
    <add key="APPTYPE" value="FOFO"/>
    <!--<add key="APPTYPE" value="2LIOC"/>-->
    <!--<add key="ClientId" value="201010001772100"/>--> 
    <!--ioc 20-->
    <add key="ClientId" value="2010100018"/>
    <add key="NNFPassword" value="11111111"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    
    <add key="ClientSettingsProvider.ConnectionStringName" value="DefaultConnection"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <userSettings>
    <Client.Properties.Settings>
      <setting name="WindowLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="WindowSize" serializeAs="String">
        <value>500, 300</value>
      </setting>
      <setting name="Window_LocationOBook" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="Window_SizeOBook" serializeAs="String">
        <value>300, 300</value>
      </setting>
      <setting name="Window_LocationTBook" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="WindowS_izeTBook" serializeAs="String">
        <value>300, 300</value>
      </setting>
      <setting name="Window_LocationNBook" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="Window_SizeNBook" serializeAs="String">
        <value>300, 300</value>
      </setting>
    </Client.Properties.Settings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" connectionStringName="DefaultConnection" credentialsProvider=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" connectionStringName="DefaultConnection"/>
      </providers>
    </roleManager>
  </system.web>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|"/>
  </connectionStrings>
</configuration>
